{
    port:9140,
    allowed:{
            contractIds:[],//Only these contracts are allowed to run on glome (for performance and security reasons)
            contractSourceIds:[],//Will automatically add contracts with these source ids to allowed to execute 
    },
    arweaveConfig:{
        host: 'g8way.io',
        port: 443,
        protocol: 'https'
    },
    gateways:{
        bundlr:["https://node1.bundlr.network/graphql","https://node2.bundlr.network/graphql"],
        arweaveGql:"https://g8way.io/graphql",
        arweaveGateway:"https://g8way.io/"
    },
    requestTimeout:300
}